<%= render 'photos/header' %>

<h1>写真一覧</h1>

<%= link_to "ファイルをアップロードする", new_photo_path %>

<% if @photos.present? %>
  <div class="photo">
    <% @photos.each do |photo| %>
      <div class="photo-block">
        <div class=title >
          <%= photo.title %>
        </div>
        <% if photo.image.attached? %>
          <%= image_tag photo.image, class:'image' %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
